.DetailsRelated {
  background: white;
  border: 1px solid black;
  border-radius: 5px;
  display: inline-block;
  margin: 20px;
  text-align: left;
  min-height: 150px;
  /* max-width: 450px; */
  /* width: 45%; */
}

.DetailsRelated p {
  font-weight: bold;
  margin: 0;
  padding: 10px 5px 5px 10px;
  border-bottom: 1px solid rgba(0,0,0,.12);
}

.DetailsRelated > div {
  display: flex;
  flex-wrap: wrap;
  font-size: 0.8em;
}

.DetailsRelated-thumbnail {
  text-align: center;
  height: 80px;
  width: 80px;
  margin: 15px 5px 15px 5px;
}
.DetailsRelated-thumbnail a {
  margin: 5px auto 5px auto;
  text-decoration: none;
  color: rgb(52, 118, 240);
  font-weight: bold;
}

.DetailsRelated-thumbnail img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.DetailsRelated-no-items {
  padding: 5px;
  text-align: center;
  line-height: 90px;
  width: 100%;
  color: rgba(0,0,0,.6);
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 51px;
  height: 51px;
  margin: 3px;
  border: 3px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: red transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}