.Pagination-page {
  background: white;
  border-radius: 3px;
  color: black;
  font-size: .7em;
  font-weight: bold;
  margin: 5px;
  padding: 8px 10px 8px 10px;
  text-decoration: none;
}

.Pagination-page:hover {
  color: coral;
}

.Pagination-page-active {
  background: #81D4FA;
}
